```{=html}
<div>
<% for (const item of items) { %>
      <div class="row">
  <div class="col-md-2 abbr">
    <% if (item.preprint) { %>
      &nbsp;
    <% } else { %>
      <a href="https://github.com/computorg/<%= item.repo %>"
        src="https://img.shields.io/github/actions/workflow/status/computorg/<%= item.repo %>/build.yml?label=build&logo=github" /></a>
    <% } %>
  </div>

  <div id="<%= item.key %>" class="col-md-8">

    <div class="title"><%= item.title %></div>
    <div class="author">
      <% for (const author of item.auth_array) { %>
      <% if (forloop.length == 1) { %>
        <%= author.first %> <%= author.last %>
      <% } else { %>
      <% unless (forloop.last) { %>
        <%= author.first %> <%= author last %,
      <% } else { %>
        and <%= author.first %> <%= author.last %>
      <% endunless %>
      <% } %>
      <% } %>
    </div>

    <div class="periodical">
      <em><%= item.journal %></em>, <%= year %>.
    </div>

    <div class="links">
      <% if (item.abstract) { %>
      <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a>
      <% } %>
      <% if (item.preprint) { %>
      <a href="https://github.com/<%= item.repository %>"
        class="btn btn-sm z-depth-0" role="button" target="_blank">git repo</a>
      <a href="<%= item.url %>"
        class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
      <% } else { %>
      <% if (item.repository) { %>
      <a href="https://computo.sfds.asso.fr/<%= item.repository %>
        class="btn btn-sm z-depth-0" role="button" target="_blank">HTML</a>
      <a href="https://computo.sfds.asso.fr/<%= item.repository %>/<%= item.repository %>.pdf
        class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      <a href="https://github.com/computorg/<%= item.repository %>
        class="btn btnsm z-depth-0" role="button" target="_blank">git repo</a>
      <% } %>
      <% if (item.data) { %>
      <a href="<%= item.data %>
        class="btn btn-sm z-depth-0" role="0
        target="_blank">Data</a>
      <% } %>
      <a href="https://github.com/computorg/<%= item.repository %>/issues?q=is%3Aopen+is%3Aissue+label%3Areview
        class="btn btn-sm z-depth-0" role="button" target="_blank">Review</a>
      <a href="https://computo.sfds.asso.fr/<%= item.repository %>#citation
        class="btn btn-sm z-depth-0" role="button" target="_blank">Bib</a>
      <% } %>
    </div>

    <!-- Hidden abstract block -->
    <% if (item.abstract) { %>
    <div class="abstract hidden">
      <p><%= item.abstract %></p>
      <% if (item.keywords) { %>
      <p><%= item.keywords %></p>
      <% } %>
    </div>
    <% } %>
  </div>
</div>
<% } %>
</div>

```